#meetings-table {
    margin: 0 4;
}

UpdateScreen {
   align: center middle;
}

.column {
    height: 5;
    width: 1fr;
}
#dialog {
    content-align: center middle;
    grid-size: 3 1;
    grid-gutter: 1 1;
    padding: 0 1;
    width: 70;
    height: 5;
    border: thick $background 80%;
    background: $surface;
}

#question {
    padding: 0 1;
    height: 5;
    width: 70;
}

#new-meeting {
    height: 15;
    width: 70;
}


Button {
    width: 100%;
}