Screen {
    align: center middle;
}

ListView {
    width: 100%;
    margin: 2 2;
}

Label {
    padding: 1 2;
}

MeetingDisplay {
    layout: horizontal;
    background: $boost;
    height: 5;
    margin: 1;
    min-width: 50;
    padding: 1;
}

#update {
    display: block;
}

#add {
    dock: right
}

Input {
    width: 20;
}

Name {
    width: 20;
    height: 3;
    border: heavy $secondary;
}