#meetings-table {
    margin: 0 4;
}

NewMeetingScreen {
   align: center middle;
}

UpdateMeetingScreen {
    align: center middle;
 }

 
WarningScreen {
    align: center middle;
 }
 
.column {
    height: 5;
    width: 1fr;
    content-align: center middle;
}

.column-small {
    height: 5;
    width: 1fr;
}

.dialog {
    content-align: center middle;
    grid-size: 3 1;
    grid-gutter: 1 1;
    padding: 0 1;
    width: 70;
    height: 5;
    border: thick $background 80%;
    background: $surface;
}

.update-dialog {
    content-align: center middle;
    grid-size: 3 2;
    grid-gutter: 1 1;
    padding: 0 1;
    width: 70;
    height: 9;
    border: thick $background 80%;
    background: $surface;
}

.add-dialog {
    content-align: center middle;
    grid-size: 3 2;
    grid-gutter: 1 1;
    padding: 0 1;
    width: 70;
    height: 12;
    border: thick $background 80%;
    background: $surface;
}

#question {
    align: center middle;
    width: 70;
    height: 2;
    margin-top: 1;
}

#new-meeting {
    height: 15;
    width: 70;
}

Button {
    width: 100%;
}

#invalid-input-msg {
    padding: 0 1;
    height: 5;
    width: 70;
}

#valid-input-msg {
    padding: 0 1;
    height: 5;
    width: 70;
}

#return-to-previous {
    column-span: 3
}

ModalScreen {
        align: center middle;
        padding: 0 1;
}

DataTable {
    padding-top: 1;
}

VerticalScroll{
    align: left middle;
    width: 70;
    padding: 0 1;
}

Checkbox {
    width: 70
}

#datatable-status{
    margin: 0 4;
    height: 1;
}

#time-range-label {
    dock: left;
    max-width: 50%;
    max-height: 3;

}

.not-in-sync {
    color: red;
}

.in-sync {
    color: green;
}

#sync-status {
    dock: right;
    max-width: 40%;
    max-height: 3;
}

#entry-markdown{
    max-height: 10; 
}

#submit-input {
    width: 20;
    margin: 0 2;
}

#not-submit-input {
    width: 20;
    margin: 0 2;
}

